html {
  font-family: 'Courier New', 'Courier', monospace;
  font-size: 20px;
  letter-spacing: 3px;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  border-bottom: 1px solid black;
}

input {
  font-size: 1rem;
}

button {
  font-size: 1rem;
  color: white;
  background: #222;
  border: none;
  margin: 5px;
}
button:hover {
  animation: button 1s infinite;
}

@keyframes button {
  33%  {background-color:blue; left:200px; top:200px;}
  66% {background-color:red; left:0px; top:0px;}
}